
/* CSS for the header block */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

header {
  background-color: rgb(16, 94, 40);
  padding: 1px;
  text-align: center;
}

h1 {
  color: white; /* Set the text color to white for better visibility */
  font-size: 28px; /* Adjust the font size as needed */
  font-weight: bold; /* Add bold styling for emphasis */
}
body{
  background-color: white;
}
/* CSS for the sidebar content */
.sidebar {
  background-color: #fff8dc;
  width: 250px;
  padding: 30px;
  box-sizing: border-box;

 
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  margin-bottom: 10px;
  border-bottom: 1px solid greenyellow;
  
}

.sidebar-menu li a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar-menu li a:hover {
  background-color: #ddd;
  padding-left: 50px;
  transition: 2s;
}

.content {
  padding: 20px;
  background-color: rgb(16, 94, 40);
}

.content p {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  color: white;
}

footer {
  background-color: #333;
  color: #FFF;
  padding: 10px;
  text-align: center;
}

footer p {
  font-size: 12px;
  
}

@keyframes sliding-background {
  0% { background-image: url('/static/images/bb1.jpeg'); }
  33.33% { background-image: url('/static/images/bb2.jpg'); }
  66.67% { background-image: url('/static/images/bb3.jpg'); }
  100% { background-image: url('/static/images/bb1.jpeg'); }
}

body {
  animation: sliding-background 30s linear infinite;
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar-menu li i{
  margin-right: 10px;
}
.sidebar-menu li span{
  margin-right: 10px;
}
/*sidebar disappearing*/
