{% extends 'home_page/base.html' %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/help.css' %}">

{% endblock %}

{% block content %}
    <head>
        <title>add Expense</title>
        {%load static%}  
        <link href="{% static 'css/update_machinery.css' %}" rel="stylesheet">
    </head>
    <body>
        
        <form method="POST" action={%url 'home_page:add-expenses'%}>
            <h1>Add Expenses</h1>
            {%csrf_token%}
            {{form.as_p}}
            <input type="submit" value="add">
        </form>
    </body>
    {%endblock%}