{% extends 'home_page/base.html' %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/help.css' %}">

{% endblock %}

{% block content %}
<head>    
<title>add REports</title>

{%load static%}  
<link href="{% static 'css/update_machinery.css' %}" rel="stylesheet">
</head>
<body>
    
<form method="post" action={%url 'home_page:add-reports'%}><!--when you want to upload fies -->
  <h1>Add Report</h1>
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Update">
</form>
</body>
{%endblock%}