{% extends 'home_page/base.html' %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/help.css' %}">

{% endblock %}

{% block content %}
<head>
    <title>Add Crops</title>
    {%load static%}  
  <link href="{% static 'css/update_machinery.css' %}" rel="stylesheet">
</head>
<body>
    <h1>Add Crops</h1>
    <form method="POST" action="{% url 'home_page:add-crops' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add">
    </form>
</body>
{%endblock%}
