{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Farm Management System - Dashboard</title>

  <meta http-equiv=”X-UA-Compatible” content=”IE=edge”>

  <meta name=”viewport” content=”width=device-width, initial-scale=1.0″>
  
  <link rel="stylesheet" href="{% static 'css/base.css' %}">


</head>
<body>
  <header>
    
    <h1>WELCOME BACK TO TECH FARM</h1>
    <!-- Add any additional header elements or navigation here -->
  </header>
  {%block content%}

  {% endblock %}

  <div class="content">
    <!-- Add the main content of the dashboard here -->
    <p>Welcome to the farm management system dashboard. Here you can monitor and manage various aspects of your farm.</p>
  </div>

  <footer>
    <!-- Add any footer content or copyright information here -->
    <p>&copy; 2023 Farm Management System created by Denis Nganga. All rights reserved.</p>
  </footer>
</body>
</html>
