
<!DOCTYPE html>
<html>
<head>
  <title>Delete Crop</title>
  {%load static%}  
  <link href="{% static 'css/delete_crop.css' %}" rel="stylesheet">
</head>
<body>
  <div class="delete-container">
    <h1>Delete Crop</h1>
    <p>Are you sure you want to delete this crop?</p>
    <form method="post">
      {% csrf_token %}
      <input class="delete-button" type="submit" value="Delete">
      <a class="cancel-link" href="{% url 'home_page:show-crops' %}">Cancel</a>
    </form>
  </div>
</body>
</html>
