<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Index</title>  
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/harvest.css' %}"/> 
</head>  
<body>  
<form method="POST" class="post-form" action="/update/{{employee.id}}">  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Update Details</h3>  
    </div>  
  </div> 

    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Crop Id:</label>  
    <div class="col-sm-4">  
        <input type="text" name="cid" id="id_cid" required maxlength="20" value="{{ crops.cid }}"/>  
    </div>  
  </div> 

  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Crop Name:</label>  
    <div class="col-sm-4">  
        <input type="text" name="name" id="id_name" required maxlength="100" value="{{ crops.name }}" />  
    </div>  
  </div>  

    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">variety:</label>  
    <div class="col-sm-4">  
        <input type="text" name="variety" id="id_variety" required maxlength="254" value="{{ crops.variety }}" />  
    </div>  
  </div> 

    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Planting Date:</label>  
    <div class="col-sm-4">  
        <input type="date" name="planting_date" id="id_planting_date" required maxlength="15" value="{{ crops.planting_date }}" />  
    </div>  
  </div>  


  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Description:</label>  
    <div class="col-sm-4">  
        <textarea name="description" id="id_description" required maxlength="15">{{ crops.description }}</textarea>
    </div>  
  </div> 

  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">quantity:</label>  
    <div class="col-sm-4">  
        <input type="number" name="quantity" id="id_quantity" required maxlength="15" value="{{ crops.quantity }}" />  
    </div>  
  </div>  

  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">is_harvested:</label>  
    <div class="col-sm-4">  
        <input type="checkbox" name="is_harvested" id="id_is_harvested" required maxlength="15" value="{{ crops.is_harvested }}" />  
    </div>  
  </div>  

    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-success">Update</button>  
    </div>  
  </div>  
    </div>  
</form>  
</body>  
</html> 