{% extends 'home_page/base.html' %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/help.css' %}">

{% endblock %}

{% block content %}
<head>
  <title>Crops List</title>
  {%load static%}  
  <link href="{% static 'css/harvestshow.css' %}" rel="stylesheet">
</head>
<body>
  <h1>Crops List</h1>
  {% if crops %}
    <table class="crop-table">
      <tr>
        <th>Crop ID</th>
        <th>Name</th>
        <th>Variety</th>
        <th>Planting Date</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Harvested</th>
        <th>Actions</th>
      </tr>
      {% for crop in crops %}
        <tr>
          <td>{{ crop.id }}</td>
          <td>{{ crop.name }}</td>
          <td>{{ crop.variety }}</td>
          <td>{{ crop.planting_date }}</td>
          <td>{{ crop.description }}</td>
          <td>{{ crop.quantity }}</td>
          <td>{{ crop.is_harvested }}</td>
          <td>
          
            <a href="{% url 'home_page:update-crops' crop.id %}">Update</a>
            <a href="{% url 'home_page:delete-crops' crop.id %}" class=delete-link>Delete</a>
          </td>
          </td>
         
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p class="no-crops">No crops found.</p>
  {% endif %}
  
  <a href="{% url 'home_page:add-crops' %}" class="add-button">Add</a>
</body>
{%endblock%}
