{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Farm Management System - Dashboard</title>

  <meta http-equiv=”X-UA-Compatible” content=”IE=edge”>

  <meta name=”viewport” content=”width=device-width, initial-scale=1.0″>
   
  <link href="{% static 'css/home.css' %}" rel="stylesheet">

  
  <script src="https://kit.fontawesome.com/a44d4b564a.js" crossorigin="anonymous"></script>

</head>
<body>
  
  <label id="lblGreetings"></label>
  <header>
    <h1>WELCOME TO TECH FARM</h1>
    
    <script>
      var myDate = new Date();
      var hrs = myDate.getHours();
  
      var greet;
  
      if (hrs < 12)
          greet = 'Good Morning';
      else if (hrs >= 12 && hrs <= 17)
          greet = 'Good Afternoon';
      else if (hrs >= 17 && hrs <= 24)
          greet = 'Good Evening';
  
      document.getElementById('lblGreetings').innerHTML =
          '<b >' + greet + '</b>,  lets monitor your farm operations';
    </script> 
  </header>
   <i class="fas fa-bars" id="btn"></i>
   
   
   
<div class="container">
    
    

  <div class="sidebar">
    <img src="{% static 'images/logo.png' %}" alt="Logo" width="150" height="90">
    <ul class="sidebar-menu">
      <li><a href="{% url 'home_page:show-overview' %}"><span class="fa-solid fa-user"></span>     Farm Overview</a></li>
      <li><a href="{% url 'home_page:show-crops' %}"><i class="fa-solid fa-seedling"></i> Crops</a></li>
      <li><a href="{% url 'home_page:show-animals' %}"><i class="fa-solid fa-cow"></i> Livestock</a></li>
      <li><a href="{% url 'home_page:show-machinery' %}"><i class="fa-solid fa-tractor"></i> Machinery</a></li>
      <li><a href="{% url 'home_page:show-crops' %}"><i class="fa-solid fa-lemon"></i> Harvest</a></li>
      <li><a href="{% url 'home_page:show-expenses' %}"><i class="fa-solid fa-coins"></i> Expenses</a></li>
      <li><a href="{% url 'home_page:show-reports' %}"><i class="fa-solid fa-book-open-reader"></i> Reports</a></li>
      <li><a href="{% url 'home_page:settings' %}"><span class="fa-solid fa-gears"></span> Settings</a></li>
      <li><a href="{% url 'home_page:help' %}"><i class="fa-solid fa-circle-info"></i>  Help</a></li>

    </ul>

    
  </div>


  
  <div class="main-content">
    <div class="feature-rectangle">
     <button> <h2> <a style="text-decoration:none" href="{% url 'home_page:show-employees' %}"> Employees</a></li>  </h2> </button>
      <!-- Add content for the Employers feature -->
    </div>
  
    <div class="feature-rectangle">
      
      <button> <h2> <a style="text-decoration:none"href="{% url 'home_page:display-gallery' %}"> Farm gallery</a></li>  </h2></button>
      <!-- Add content for the Farm Gallery feature -->
    </div>
  </div>




</div>

  <div class="content">
    <!-- Add the main content of the dashboard here -->
    <p>Welcome to the farm management system dashboard. Here you can monitor and manage various aspects of your farm.</p>
  </div>

  <footer>
    <!-- Add any footer content or copyright information here -->
    <p>&copy; 2023 Farm Manager created by DenisNganga . All rights reserved.</p>
  </footer>
   
</body>
</html>
