<html>
    <head>
        <title>showanimals</title>
        {%load static%}  
        <link href="{% static 'css/showanimals.css' %}" rel="stylesheet">
    </head>
<body>
<h1>Animals</h1>
<ul class="animal-list">
  {% for animal in animals %}
    <li><strong>ID:</strong> {{ animal.Aid }}</li>
    <li><strong>Picture:</strong> <img src="{{ animal.picture.url }}" alt="{{ animal.name }} Image"></li>
    <li><strong>Name:</strong> {{ animal.name }}</li>
    <li><strong>Age:</strong> {{ animal.age }}</li>
    <li><strong>Production in litres:</strong> {{ animal.production }}</li>
  {% endfor %}
</ul>
</body>
</html>
