<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Crops Records</title>  
     {% load static %}  
    <link rel="stylesheet" href="{% static 'css/harvest.css' %}"/>  
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>Crop ID</th>  
        <th>Crop Name</th>  
        <th>Crop variety</th>  
        <th>Planting date</th>  
        <th>description</th>  
        <th>Crop quantity</th>  
        <th>is harvested</th>
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>  
 
    <tr>  
        <td>{{ crops.cid }}</td>  
        <td>{{ crops.name }}</td>  
        <td>{{ crops.variety }}</td>  
        <td>{{ crops.planting_date }}</td>
        <td>{{ crops.description }}</td>  
        <td>{{ crops.quantity }}</td>  
        <td>{{ crops.is_harvested }}</td>    
        <td>  
            <a href="/edit/{{ crops.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/delete/{{ crops.id }}">Delete</a>  
        </td>  
    </tr>  
 
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/create_crops" class="btn btn-primary">Add New Record</a></center>  
</body>  
</html> 