{% extends 'home_page/base.html' %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/help.css' %}">

{% endblock %}

{% block content %}
    <title>Show Employees</title>
    {%load static%}  
  <link href="{% static 'css/showmachinery.css' %}" rel="stylesheet">
</head>
<body>
    <h2>Employees Details</h2>
    <table>
        <thead>
            <tr>
                <th>Employees ID</th>
                <th>NAme</th>
                <th>Position</th>
                <th>Salary</th>
                <th>Performance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.Eid }}</td>
                <td>{{ employee.Name }}</td>
                <td>{{ employee.Position }}</td>
                <td>{{ employee.Salary }}</td>
                <td>{{ employee.Performance }}</td>

                <td><a href="{% url 'home_page:update-employees' Eid=employee.Eid %}" class="update-link">Update</a>
                    <a href="{% url 'home_page:delete-employees' Eid=employee.Eid %}"class="delete-link">Delete</a> </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'home_page:add-employees' %}" class="add-button">Add</a>
</body>
{% endblock %}