{% extends 'home_page/base.html' %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/help.css' %}">

{% endblock %}

{% block content %}
<head>
    <title>showanimals</title>
    {% load static %}  
    <link href="{% static 'css/showlivestock.css' %}" rel="stylesheet">
</head>
<body>
    <h2>LIVESTOCK LIST</h2>
    <ul class="animal-list">
        {% for animal in animals %}
        <li>
            <div class="animal-container">
                <div class="animal-info">
                    <div class="animal-id">
                        <strong>ID:</strong> {{ animal.Aid }}
                    </div>
                    <div class="animal-details">
                        <div class="animal-name">
                            <strong>Name:</strong> {{ animal.name }}
                        </div>
                        <div class="animal-age">
                            <strong>Age:</strong> {{ animal.age }}
                        </div>
                        <div class="animal-production">
                            <strong>Production in litres:</strong> {{ animal.production }}
                        </div>
                    </div>
                </div>
                <div class="animal-picture">
                    <img src="{{ animal.picture.url }}" alt="{{ animal.name }} Image">
                </div>
                <div class="animal-actions">
                    <a href="{% url 'home_page:update-animal' id=animal.id %}"class="update-link">Update</a>
                    <a href="{% url 'home_page:delete-animal' id=animal.id %}"class="delete-link">Delete</a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

    <a href="{% url 'home_page:add-animals' %}" class="add-button">Add</a>

</body>
{%endblock%}
