<head>
  <title>update crop</title>
    {%load static%}  
    <link href="{% static 'css/update.css' %}" rel="stylesheet">
  </head>
  <body>
    <h1>Update Animal</h1>
    <form method="post">
      {% csrf_token %}
  
      <label for="id_Aid">Animal ID:</label>
      <input type="text" name="Aid" id="id_Aid" value="{{animals.Aid }}" required>
  
      <label for="id_picture"></label>
      <input type="upload" name="picture" id="id_picture" value="{{ animals.picture }}" required>
  
      <label for="id_name">Name:</label>
      <input type="text" name="name" id="id_name" value="{{ animals.name }}" required>
  
      <label for="id_age">Age:</label>
      <input type="number" name="age" id="id_age" value="{{ animals.age }}" required>
  
      <label for="id_production">Production:</label>
      <input type=number name="production" id="id_production" {{ animals.production }}required>
  
     
  
      <input type="submit" value="Update">
    </form>
  </body>