body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: 90vh;
    display: flex;
    
    
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  form {
    width: 400px;
    margin: 0 auto;
    background-color: bisque;
    padding: 20px;
    border-radius: 30px;
    height: 90vh;
    
  }
  
  form input[type="submit"] {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  form input[type="submit"]:hover {
    background-color: #0056b3;
  }
  form input[type="text"]{
margin-bottom: 15px;
  }