.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align images from left */
    gap: 20px;
  }
  .image-container {
    position: relative;
    width: 500px; /* Increase the width to make the images bigger */
  }

  
  .image {
    width: 100%;
    height: auto;
    max-height: 500px; /* Set a maximum height to maintain aspect ratio */
  }
  
  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 14px;
  }
  
  .delete-link {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 12px;
  }
  
  .upload-link {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #333;
    font-weight: bold;
  }