body{
    display: flexbox;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: antiquewhite;
    
}
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    background-color: whitesmoke;
  }
  
  label {
    margin-top: 10px;
  }
  
  input[type="text"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="checkbox"] {
    margin-top: 5px;
  }
  
  input[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  h1 {
    text-align: center;
  }